header {
    background-color: #228C22;
	padding: 10px;
	margin: -8px -8px 0px -8px;
}

#placeholder_logo {
	margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    display:

}
